body {
  width: 480px;
  height: 500px;
}

.ui-content .ui-listview.flat-bottom {
  margin-bottom: 0;
}

.ui-content .ui-listview.flat-top {
  margin-top: 0;
}

.scrolly {
  height: 365px;
  overflow-y: scroll;
}

.comment {
  font-size: 12px;
  margin-top: 10px;
}

.comment .user {
  font-weight: bold;
  text-decoration: underline;
}

.post-data .conversation {
  height: 300px;
  background-color: #FFF;
  border-radius: 10px;
  padding: 10px;
  text-wrap: unrestricted;
  overflow-y: scroll;
}

.post-data textarea {
  height: 100px;
}
